
<div class="col-md-6 col-lg-4 mb-4">
  <div class="card shadow-sm h-100">
    <img src="assets/img/airdrop-sample.jpg" class="card-img-top" alt="Airdrop XYZ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Airdrop XYZ</h5>
      <p class="card-text text-muted small">
        Klaim token gratis dari proyek terbaru XYZ. Cukup daftar dan selesaikan misi ringan.
      </p>
      <a href="https://referral.link.xyz" class="btn btn-outline-primary mt-auto" target="_blank" rel="nofollow noopener">
        Klaim Sekarang
      </a>
    </div>
  </div>
</div>
